* {
    margin: 0;
    padding: 0;
}

section {
    width: 150px;
    height: 150px;

    background: blue;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media screen and (max-width : 480px) {

    /* and (min-width : 320px) */
    main {
        display: block;
        background-color: red;
    }

    section {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (min-width : 481px) and (max-width: 800px) {
    main {
        display: block;
        background-color: yellow;
    }

    section {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (min-width : 800px) {
    main {
        display: block;
        background-color: green;
    }

    section {
        width: 100%;
        margin: 20px 0;
    }
}